body{background-color: black;
}
.main {
  height: 300px;
  width: 600px;
  border: 1px solid white;
}
.a {
  height: 100px;
  width: 600px;
  background-color: #d72427;
}

.b {
  height: 100px;
  width: 600px;
  background-color: #ffffff;
}

.c {
  height: 100px;
  width: 600px;
  background-color: #d72427;
}